header{
    display: block;
    width:100%;
    margin:0 auto;
    padding:0 10px;
    height: 70px;
    position: relative;
    background-color: black;
    .wrap{
        display: block;
        width:100%;
        margin: 0 auto;
        max-width:980px;

        .logo{
            display: block;
            width:120px;
            position: absolute;
            left:10px;
            top:50%;
            transform:translateY(-50%);

            img{
                display: block;
                width:100%;
                margin:0;
            }
        }
    }
}